
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

:focus {
  outline: none;
}

textarea {
  resize: none;
}

input, textarea, select, button {
  font-family: "Poppins-Regular";
  font-size: 13px;
  color: #333;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}
select option[value=""][disabled] {
  display: none;
}

p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.wrapper {
  max-width: 1400px;
  display: flex;
  height: 100vh;
  margin: auto;
  align-items: center;
}

.steps .current-info, .steps .number {
  display: none; 
}

.avartar {
  display: block;
  text-align: center;
  margin-bottom: 29px; 
}

.steps {
  height: 2px;
  position: fixed;
  width: 67%;
  background: #b7b2ab;
  top: 50px;
  left: 25%;
}
.steps ul {
  height: 2px;
  position: absolute;
  background: #1e62dd;
  width:19px;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease;
  margin: 0px;
}
.width100per{
  width:100%!important;
}
.steps:after {
  content: "X";
  color: #333;
  position: absolute;
  right: -50px;
  bottom: -10px;
  padding: 4px 8px;
  color: #1e62dd;
  background: url(circal.png);
  text-indent: -99999px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 25px;
}
.steps.step-2 ul {
  width: calc(3.57% * 2);
}
.steps.step-3 ul {
 width:calc(3.57% * 3);
}
.steps.step-4 ul {
 width:calc(3.57% * 4);
}
.steps.step-5 ul {
 width:calc(3.57% * 5);
}
.steps.step-6 ul {
 width:calc(3.57% * 6);
}
.steps.step-7 ul {
 width:calc(3.57% * 7);
}
.steps.step-8 ul {
 width:calc(3.57% * 8);
}
.steps.step-9 ul {
 width:calc(3.57% * 9);
}
.steps.step-10 ul {
 width:calc(3.57% * 10);
}
.steps.step-11 ul {
 width:calc(3.57% * 11);
}
.steps.step-12 ul {
 width:calc(3.57% * 12);
}
.steps.step-13 ul {
 width:calc(3.57% * 13);
}
.steps.step-14 ul {
 width:calc(3.57% * 14);
}
.steps.step-15 ul {
 width:calc(3.57% * 15);
}
.steps.step-16 ul {
 width:calc(3.57% * 16);
}
.steps.step-17 ul {
 width:calc(3.57% * 17);
}
.steps.step-18 ul {
 width:calc(3.57% * 18);
}
.steps.step-19 ul {
 width:calc(3.57% * 19);
}
.steps.step-20 ul {
 width:calc(3.57% * 20);
}
.steps.step-21 ul {
 width:calc(3.57% * 21);
}
.steps.step-22 ul {
 width:calc(3.57% * 22);
}
.steps.step-23 ul {
 width:calc(3.57% * 23);
}
.steps.step-24 ul {
 width:calc(3.57% * 24);
}
.steps.step-25 ul {
 width:calc(3.57% * 25);
}
.steps.step-26 ul {
 width:calc(3.57% * 26);
}
.steps.step-27 ul {
 width:calc(3.57% * 27);
}
.steps.step-28 ul {
 width:calc(3.57% * 28);
}


.form-row {
  margin-bottom: 26px;
}
.form-row.form-group {
  display: flex; 
}
.form-row.form-group .form-holder {
  width: 50%;
  margin-right: 25px;
}
.form-row.form-group .form-holder:last-child {
  margin-right: 0; 
}

.form-holder {
  position: relative; 
}
.form-holder i {
  position: absolute;
  top: 5px;
  right: 0;
  font-size: 17px;
  color: #333; 
}
.form-holder i.small {
  font-size: 13px;
  top: 50%;
  transform: translateY(-50%); 
}

.form-control {
  height: 30px;
  border: none;
  border-bottom: 1px solid #333;
  width: 100%;
  background: none;
  font-weight: 600;
}
.form-control::-webkit-input-placeholder {
  color: #333; 
}
.form-control::-moz-placeholder {
  color: #333; 
}
.form-control:-ms-input-placeholder {
  color: #333; 
}
.form-control:-moz-placeholder {
  color: #333;
}

.select {
  position: relative;
}
.select .select-control {
  height: 30px;
  border: none;
  border-bottom: 1px solid #333;
  width: 100%;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.select .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  background: #fff;
  z-index: 9;
  border: 1px solid #4192cb;
}
.select .dropdown li {
  padding: 5px 10px; 
}
.select .dropdown li:hover {
  background: #81acee;
  color: #fff; 
}
.select .dropdown.active {
  display: block;
}

.section-3 h6 {
  font-size: 13px;
  color: #333;
  padding-top: 5px;
  margin-bottom: 14px; 
}

.payment-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}
.payment-block .payment-item {
  width: 47.76%; 
}

.payment-item {
  border: 1px solid #e5e5e5;
  height: 53px;
  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-right: 11px;
  margin-bottom: 15px;
  cursor: pointer; 
}
.payment-item .payment-logo {
  width: 34.53%;
}
.payment-item .payment-content {
  width: 65.47%;
}
.payment-item.active {
  border: 1px solid #333;
}

.actions ul {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px; 
  margin:0px auto;
  width:328px;
}
.actions li a {
  border: none;
  display: inline-flex;
  height: 51px;
  width: 118px;
  align-items: center;
  color: #fff;
  cursor: pointer;
  padding-left: 33px;
  font-size: 15px;
  position: relative;
  background: #1e62dd; 
}
.actions li:first-child a:before {
  content: "\f2ee";
  font-family: Material-Design-Iconic-Font;
  position: absolute;
  left: 10px; 
  width:33PX;
  height: 12PX;
  background: url(left_arrow.png);
  background-repeat: no-repeat;
  text-indent: -9999px;
  transform: rotate(0deg);
}
.actions li a:before {
  content: "\f2ee";
  font-family: Material-Design-Iconic-Font;
  position: absolute;
  right: 10px;
  left:inherit; 
  width:33PX;
  height: 12PX;
  background: url(left_arrow.png);
  text-indent: -9999px;   
  background-repeat: no-repeat;
  transform: rotate(180deg);
}
.actions li a:hover {
  text-decoration: none; 
}

.actions li:first-child a {
  padding-left:55px; 
}

@media (max-width: 1500px) {

  .wizard {
    margin-bottom: 25px; 
  } 
}

@media (max-width: 1199px) {
  .wizard {
    margin-bottom: 0; 
  }
}

@media (max-width: 767px) {
  body {
    background: none; 
  }

  .wrapper {
    height: auto;
    display: block;
  }

  .wizard {
    width: auto;
    height: auto;
    margin-left: 0;
    margin-bottom: 100px;
  }

  .inner {
    padding: 30px 20px;
    height: auto;
  }

  .actions ul {
    position: static;
    margin: 0 20px;
  }

  .payment-block {
    display: block; 
  }
  .payment-block .payment-item 
  {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
